<style>
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{z-index: 999999 !important;}
</style>
 
<section class="page-content">
<div class="page-content-inner">



    <!-- Dashboard -->
    <div class="dashboard-container col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
      
        <div class="row">
            <div class="col-xl-12">
                <div class="panel panel-with-borders m-b-0">
                    <div class="panel-body">
                        <div class="nav-tabs-horizontal margin-bottom-5">
                          
					<div align="right">
						<div class="col-lg-7 col-md-6 col-sm-7 col-xs-12 text-x"><img class="headsectionimages" src="assets/headerimages/customer cheque details.png">Client Payment Details
							<div id="delete_logistic" style="font-size: 15px;color: red" class="formessage_display">{{delete_logistic_msg}}</div>
							<div id="chequeDetailSuccess" style="color: green;font-size: 15px" class="formessage_display">{{cheque_detail_success}}</div>
						</div>
						<div class="clearfix"></div>
					<div class="right margin-left-40 col-lg-3 col-md-3 col-sm-3 col-xs-12" align="right">
							<div class="search-block">
								<div class="form-input-icon form-input-icon-right">
									<i class="icmn-search"></i>
											<input class="form-control form-control-sm form-control-rounded" placeholder="Search..." type="text" ng-model="filter_client_cheque_list">
												<button class="search-block-submit " type="submit"></button>
								</div>
							</div>
						</div>	
				<button ng-show="current_module_rights[0].status" class="btn btn-rounded btn-primary-outline margin-inline" data-toggle="modal" data-target="#add" type="button" ng-click="reset_cust_modal()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                        </div>
                        </div>
						 <div class="sb-container container-example1 hei1 topupmm">
						
						<div class="table_dis" id="fixedheader">
                        <table class="table table-hover table-bordered">
                            <thead>
                                 <tr class="colorhead">
									 <th>Sr. No.</th>
                                <th>Client Name</th>
                                <th>Invoice No.</th>
                                <th>Invoice Date</th>
                                <th>Reference No.</th>
                                <th> Amount</th>
                                 <th> Date</th>
								 <th>Clearing Date</th>
								 <!-- <th>Due Date</th> -->
								 <th> Status</th>
                                <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                 <tr ng-repeat="data in client_cheque_list | filter:filter_client_cheque_list">
									 <td>{{$index+1}}</td>
                                <td>{{data.client_name}}</td>
                                <td>{{data.invoice_no}}</td>
                                <td>{{data.invoice_date}}</td>
                                <td>{{data.cheque_no}}</td>
                                <td>{{data.cheque_amount}}</td>
                                <td>{{data.cheque_date}}</td>
								<td>{{data.cleared_date }}</td>
								<td><span class="c_g1">{{data.cheque_status}}</span></td>
								<!-- <td>{{data.payment_date | date : 'dd/MM/yyyy'}}</td> -->
                                <td>
									<a ng-show="current_module_rights[1].status" data-toggle="modal" data-target="#example3"> <i class="fa fa-edit font_six" title="Edit" aria-hidden="true" ng-click="edit_cust_cheque_details($index,data.id)"></i>|</a>
									<a ng-show="current_module_rights[2].status" data-toggle="modal" data-target="#generate_password" ng-hide="current_module_rights.delete_option=='no'"> <i class="fa fa-trash-o font_six" title="Delete" aria-hidden="true" ng-click="discharge_permission_popup(data.id,data.delete_status,'delete')"></i>|</a>
									<!-- <a ng-bootbox-confirm="Are you sure to delete this details?"
									   ng-bootbox-confirm-action="deleteCustomerChequeList(data.id)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)">
										<i class="fa fa-trash-o font_six" aria-hidden="true" title="Delete"></i></a> | -->
										 <a ng-show="current_module_rights[3].status" href=""> <i class="fa fa-check-square-o font_six" title="Check" data-toggle="modal" data-target="#checkderails" type="button" ng-click="cust_cheque_status($index,data.id)"></i></a>
								</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    </div>
               
                     
                    </div>
                </div>
            </div>
        </div>

		 
    </div>
<br/>


    <!-- End Dashboard -->

</div>

</section>	


<!-- modal start -->

  
  <div class="modal fade modal-size-large" close-my-modal id="add" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bgcolor">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Payment Details</h4>
								<span id="chequeDetailError">{{cheque_detail_error}}</span>
                            </div>
                            <div class="modal-body">
                                <div class="nav-tabs-horizontal">
                           
                            <div class="tab-content ">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                   <div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								  <div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overfl padd_none"> 
								  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
										<h6><b>Client Payment Details</b></h6>
										</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										
									<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											 <div  ng-class="{label_display : active_lable}" class="label_none">Select Client</div><!-- add for edit button click class 'label_display' -->
										<select class="form-control border_none select" data-ng-model="select_client" data-ng-change="get_selected_client_info()">
									   <option  value="">Select Client</option>
									   <option  ng-repeat="list in client_list_details" value="{{list.id}}">{{list.client_name}}</option>
								</select>
										</div>
										
										</div>
								   <div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >

									<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
										 <div  ng-class="{label_display : active_lable}" class="label_none">Payment Type</div>
									<select class="form-control border_none select" data-ng-model="payment_type">
										<option value="">Select Payment Type</option>
										<option value="advance_payment">Advance Payment</option>
										<option value="balance_payment">Balance Payment</option>
										<option value="payment_against_invoice">Payment Against Invoice</option>
									</select>
									</div>
										
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
                          <h6><b>Select Particulars</b></h6>
                       </div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
                          <div class="sb-container container-example1 hei" style="margin-top:8px;">
                          <div class="table_dis" id="fixedheader11">
                             <table class="table table-hover table-bordered">
                                <thead>
                                   <tr class="colorhead">
                                      <th>Select</th>
                                      <th>Invoice Date</th>
                                      <th>Invoice No</th>
                                      <th>Total Amount</th>
                                      <th>Payable Amount</th>
                                      <th>Balance Amount</th>
                                      
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="data in cust_invoice_list">
                                      <td><center><input name="select" type="checkbox" id="inv_check_{{data.id}}" ng-true-value="true" ng-false-value="false" ng-click="check_if_checked(data.id,data.grand_total,data.payable_amount)">
                             </center></td>
                                      <td>{{data.invoice_date}}</td>
                                      <td>{{data.invoice_no}}</td>
                                      <td>{{data.grand_total | number:2}}</td>
                                      <td><input class="form-control border_none" type="text" placeholder="Payable Amount" ng-model="cust_invoice_list[$index].payable_amount" ng-keyup="check_selected_row($index,data.id,cust_invoice_list[$index].payable_amount)" ></td>
                                      <td>{{data.balance_amount | number:2}}</td>
                                   </tr>
                                   <tr >
                                      <td style="text-align:right" colspan="3"><strong>Grand Total</strong></td>
                                      <td>{{total_payable_amount | number: 2}}</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="clearfix"></div>


					<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
						
							
						<div class="top_t col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							 <div  ng-class="{label_display : active_lable}" class="label_display">Invoice Type</div>
						<input class="form-control border_none" type="text" placeholder="Invoice Type" ng-model="invoice_type" readonly>
						</div>
						
						<div class="top_t col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							 <div  ng-class="{label_display : active_lable}" class="label_display">Invoice Date</div>
						<input class="form-control border_none" type="text" placeholder="Invoice Date" ng-model="invoice_date" readonly>
						</div>
						<div class="top_t col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							 <div  ng-class="{label_display : active_lable}" class="label_display">Grand Total</div>
						<input class="form-control border_none" type="text" placeholder="Grand Total" ng-model="grand_total" readonly>
						</div>
						
						</div> -->
						</div>
										
										<!-- chq-->

										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
										<h6><b>Payment Details</b></h6>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="details in add_cust_cheque_info" >
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<button class="btn btn-rounded btn-primary-outline margin-inline flt_d pull-right" type="button" ng-click="remove_cust_cheque_details($index)" ng-if="$index>0">
													<i class="fa fa-minus" aria-hidden="true"></i></button>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_display">Reference No.</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Reference No." ng-model="add_cust_cheque_info[$index].cheque_no" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_display"> Amount</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder=" Amount" ng-model="add_cust_cheque_info[$index].cheque_amount" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_display">Bank Name</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Bank Name" ng-model="add_cust_cheque_info[$index].bank_name_on_cheque" capitalize>
											</div>
											</div>


									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
									
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_display"> Date</div><!-- add for edit button click class 'label_display' -->
											<input class="form-control border_none datepicker_recurring_start" type="text" placeholder=" Date" ng-model="add_cust_cheque_info[$index].cheque_date" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_display">Beneficiary</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Beneficiary" ng-model="add_cust_cheque_info[$index].name_on_cheque" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											 <div  ng-class="{label_display : active_lable}" class="label_display">Transfer To Bank</div><!-- add for edit button click class 'label_display' -->
												<select class="form-control border_none select" data-ng-model="add_cust_cheque_info[$index].bank_id" >
													<option value="">Select Bank</option>
													<option ng-repeat="item in bank_list" value="{{item.id}}">{{item.bank_name}}{{item.bank_branch}},{{item.bank_city}}</option>
												</select>
											</div>
									</div>
										</div>

									  <div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none" align="right">
										<button class="btn btn-rounded btn-primary-outline margin-inline" type="button" ng-click="add_cust_cheque_details()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
										</div>
										
								  </div>
										<!-- chq-->
										
								   </div>
								
									
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<center>

										<button class="btn btn-success-outline margin-inline" type="button" ng-click="add_client_payment_details()">
												<span class="top_p"><i class="icmn-share2"></i></span> Save
											</button>

									</center>
								
								
                                </div>
                                </div>
                                
                               
                                
                            </div>
                        </div>
                            </div>
						<div class="clearfix"></div>
                         <!--   <div class="modal-footer bgcolor">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                                
                            </div>-->
                        </div>
                    </div>
                </div>



<!--===============================================================================================================-->


<div class="modal fade modal-size-large"  id="example3" close-modal-three tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bgcolor">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Payment Details</h4>
				<span id="chequeDetailError1">{{cheque_detail_error1}}</span>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-horizontal">

					<div class="tab-content ">
						<div class="tab-pane active" id="home1" role="tabpanel">
							<div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overfl padd_none">
									<!-- chq-->

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
										<h6><b>Payment Details</b></h6>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none">Reference No.</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Reference No." ng-model="edit_cust_cheque_info.cheque_no" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none"> Amount</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder=" Amount" ng-model="edit_cust_cheque_info.cheque_amount" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none">Bank Name</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Bank Name" ng-model="edit_cust_cheque_info.bank_name_on_cheque" capitalize>
											</div>
										</div>


										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >

											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none"> Date</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none datepicker_recurring_start" type="text" placeholder=" Date" ng-model="edit_cust_cheque_info.cheque_date" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none">Beneficiary</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" type="text" placeholder="Beneficiary" ng-model="edit_cust_cheque_info.name_on_cheque" capitalize>
											</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
												 <div  ng-class="{label_display : active_lable}" class="label_none">Transfer To Bank</div><!-- add for edit button click class 'label_display' -->
												<select class="form-control border_none select" data-ng-model="edit_cust_cheque_info.bank_id" >
													<option value="">Select Bank</option>
													<option ng-selected="item.id==edit_cust_cheque_info.bank_id" ng-repeat="item in bank_list" value="{{item.id}}">{{item.bank_name}}{{item.bank_branch}},{{item.bank_city}}</option>
												</select>
											</div>
										</div>
									</div>

								</div>
								<!-- chq-->

							</div>



							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<center>

									<button class="btn btn-success-outline margin-inline" type="button" ng-click="update_cheque_details()">
										<span class="top_p"><i class="icmn-share2"></i></span> Update
									</button>

								</center>


							</div>
						</div>



					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!--   <div class="modal-footer bgcolor">
                   <button type="button" class="btn" data-dismiss="modal">Close</button>

               </div>-->
		</div>
	</div>
</div>
				
<!-- -->
<div class="modal fade modal-size-large" id="checkderails" close-otp-supp-return-update tabindex="-1" role="dialog"  aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bgcolor">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"> Status</h4>
         </div>
         <div class="modal-body">
            <div class="nav-tabs-horizontal">
              
               <div class="tab-content padding-vertical-20">
                  <div class="tab-pane active" id="home1" role="tabpanel">
                     <div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="top_t col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                           <div  ng-class="{label_display : active_lable}" class="label_none">Website</div>
                          <div class="form-group">
                            <div class='input-group date' >
                                <input type='text' id='datetimepicker5' class="form-control border_none" placeholder="Date" ng-model="cleared_date"/>
                                <span class="input-group-addon">
                                <i class="icmn-calendar"></i>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div class="top_t col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="position:relative;top:11px;">
                           <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                              <div class="form-group">
                                 <div class="radio">
                                    <label>
                                   <input name="example1" checked="" type="radio" ng-model="status" value="Bounce">
                                    Bounced 
                                    </label>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                              <div class="form-group">
                                 <div class="radio">
                                    <label>
                                   	<input name="example1" type="radio" ng-model="status" value="Cleared">
                                    Cleared
                                    </label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                           <textarea  placeholder="Note" rows="2" class="form-control" data-ng-model="comments"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <center>
                              <button class="btn btn-success-outline margin-inline" type="button" ng-click="save_cust_cheque_status()">
                              <span class="top_p"><i class="icmn-share2"></i></span> Save
                              </button>
                           </center>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!-- modal start -->
<!-- -->
<!-- modal start -->

<div class="modal fade" id="generate_password" close-modal-two tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLbel">{{title_text}}</h4>
			</div>
			<div class="modal-body">
				<!--<form name="form-validation" ng-submit="generateOTP ? generate_password_function() : verify_otp()">-->
				<form name="formvalidation" ng-submit="generateOTP ? generate_password_function() : verify_otp()" novalidate>
					<div class="form-group" ng-hide="gen_pass_div">
						<label class="form-label ">Comments</label>
						<input class="form-control border_none"
							   placeholder="Comment"
							   type="text"
							   ng-model="comment.comment" name="comments"  ng-required="true" capitalize>
							   
					</div>
					<div class="form-group" ng-show="otp_div">
						<label class="form-label ">Enter OTP</label>
						<input class="form-control border_none"
							   placeholder="OTP"
							   type="text"
							   ng-model="otp_object.otp">
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-md-6"><h5>{{pending_msg}}</h5></div>
							<div class="col-md-6">
								<!--<button type="button" class="btn" data-dismiss="modal">Close</button>-->
								<button type="submit" ng-hide="gen_pass_btn"  class="btn btn-primary" ng-disabled="formvalidation.$invalid">Generate</button>
								<button type="submit" ng-show="verify_otp_btn"  class="btn btn-primary">Verify OTP</button>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });

</script>


												<!-- <script type="text/javascript">
												 $(function () {
															$('#datetimepicker1').datetimepicker({
																icons: {
																	time: "fa fa-clock-o",
																	date: "fa fa-calendar",
																	up: "fa fa-arrow-up",
																	down: "fa fa-arrow-down"
																}
															});
														});
												</script> -->
<script type="text/javascript">
    $(document).on('focus',".datepicker_recurring_start", function(){
        console.log('mood off');
        $(this).datepicker({changeMonth: true,
            changeYear: true,
			yearRange: '2000:2040' ,
			dateFormat:'dd/mm/yy',
            defaultDate: new Date()});
    });
</script>

<script>

    $(document).ready(function()
    {
        if (screen.width < 767)
        {
				//alert('More than 960');
            $('.table_dis').attr('class','table-responsive table_dis');

        }
        else
        {
            $('.table_dis').removeAttr('class');
            // alert('More than 960');
        }
    });
</script>
		<!-- header fixed -->
		<script>
			$(document).ready(function() {
				$("#fixedheader").tableHeadFixer(); 
			});
		</script>
		<script>
			$(document).ready(function() {
				$("#fixedheader1").tableHeadFixer(); 
			});
		</script>
		<!-- header fixed End-->
<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });

</script>
										
<script>
    $('#datetimepicker5').datepicker({
  changeMonth: true,
 changeYear: true,
  yearRange: '2000:2040' ,
  dateFormat:'dd/mm/yy'
     // defaultDate: '2015-01-01',

});
$('#datetimepicker1').datepicker({
  changeMonth: true,
 changeYear: true,
  yearRange: '2000:2040' ,
  dateFormat:'dd/mm/yy'
     // defaultDate: '2015-01-01',

});

</script>

<script type="text/javascript">
$('input').on('blur', function(){
   $(this).prev('div').removeClass('label_none').addClass('label_display');
}).on('focus', function(){
  $(this).prev('div').removeClass('label_none').addClass('label_display');
});

</script>

<script type="text/javascript">
$('select').on('blur', function(){
   $(this).prev('div').removeClass('label_none').addClass('label_display');
}).on('focus', function(){
  $(this).prev('div').removeClass('label_none').addClass('label_display');
});
</script>
<!-- <script>
 function multipleFunc() {
    document.getElementById("mySelect").multiple = true;
 }
</script> -->
<!-- <script type="text/javascript">
    $(function () {
        $('#mySelect').multiselect({
            includeSelectAllOption: true
        });
    });
</script> -->

<script>
    $(function(){

        $('.select2').select2();
        $('.select2-tags').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });

        $('.selectpicker').selectpicker();

    })
</script>