<style>
	.approve_color{
		color:#0088ff
	}
</style>
<style>
   .ui-autocomplete, ui-autocomplete-input {z-index:2147483647}
</style>
<section class="page-content">
<div class="page-content-inner">
    <!-- Dashboard -->
    <div class="dashboard-container col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
      
        <div class="row">
            <div class="col-xl-12">
                <div class="panel panel-with-borders m-b-0">
                    <div class="panel-body">
                        <div class="nav-tabs-horizontal margin-bottom-5">
                          
					<div align="right">
						<div class="col-lg-6 col-md-5 col-sm-5 col-xs-12 text-x"><img class="headsectionimages" src="assets/headerimages/bankaccounts.png">Reimbursement<br/>
						<div id="empReimbursementSuccess" style="color: green;font-size: 15px" class="formessage_display">{{emp_reimbursement_success}}</div>
						</div>
						<div class="right margin-left-40 col-lg-3 col-md-3 col-sm-3 col-xs-12" align="right">
							<div class="search-block">
								<div class="form-input-icon form-input-icon-right">
									<i class="icmn-search"></i>
											<input class="form-control form-control-sm form-control-rounded" placeholder="Search..." type="text" ng-model="reimbursement_filter">
												<button class="search-block-submit " type="submit"></button>
								</div>
							</div>
						</div>	
				<button ng-show="current_module_rights[0].status" class="btn btn-rounded btn-primary-outline margin-inline" data-toggle="modal" data-target="#add_request" type="button" ng-click="add_btn_clicked()"><i class="fa fa-plus" aria-hidden="true"></i>Add Request</button>
                        </div>
                        </div>
				
				<div class="sb-container container-example1 hei1 topupmm">
						<div class="table_dis" id="fixedheader">
                        <table class="table table-hover table-bordered">
                            <thead>
                               <tr class="colorhead">
								   <th>Sr. No.</th>
											<th>Employee Code</th>
											<th>Employee Name</th>
											<th>Reimbursement Amount</th>
											<th>Payment Mode</th>
											<th>Clearing Date</th>
											<!-- <th>Issue Date</th> -->
											<th class="rport_www">Action</th>
											
										</tr>
									</thead>
									
									<tbody>
										<tr ng-repeat="data in reimbursement_details | filter: reimbursement_filter">
											<td>{{$index+1}}</td>
											<td>{{data.employee_code}}</td>
											<td>{{data.employee_name}}</td>
											<td>{{data.reimbursement_amount}}</td>
											<td>{{data.payment_mode}}</td>
											<td>{{data.reimbursement_date}}</td>
											<!-- <td>{{data.}}</td> -->
											<td>
												<!-- <a data-toggle="modal" data-target="#add_request">
													<i class="fa fa-edit font_six" title="Edit" aria-hidden="true" ng-click="reimbursement_data_by_id(data.id)"></i></a> -->
												<a ng-show="current_module_rights[1].status" data-toggle="modal" data-target="#generate_password"> <i class="fa fa-edit font_six" title="Edit" aria-hidden="true" ng-click="emp_rem_permission_popup(data.id,data.comment_status,'edit')"></i>|</a>

												<!-- <a ng-bootbox-confirm="Are you sure to delete this loan details?" ng-bootbox-confirm-action="delete_loan_details(data.id)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)"> <i class="fa fa-trash-o font_six" aria-hidden="true" title="Delete"></i>|</a> -->

												<a ng-show="current_module_rights[2].status" data-toggle="modal" data-target="#generate_password"> <i class="fa fa-trash-o font_six" aria-hidden="true" title="Delete" ng-click="emp_rem_permission_popup(data.id,data.delete_status,'delete')"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
                    </div>
               </div>
                     
                    </div>
                </div>
            </div>
        </div>

		 
    </div>
<br/>


    <!-- End Dashboard -->

</div>

</section>	


<!-- modal start -->


	<div class="modal fade modal-size-large" id="add_request" close-my-modal tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bgcolor">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Reimbursement</h4>
				<span id="empRimbursementError">{{emp_reimbursement_error}}</span>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-horizontal">
					<div class="tab-content ">
						<div class="tab-pane active" id="home1" role="tabpanel">
							<div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">

									<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_display">Employee ID</div><!-- add for edit button click class 'label_display' -->
											<!--<div class="star">*</div>-->
											<input class="form-control border_none" placeholder="Employee Code" id="emp_id" ng-model="emp_code" type="text" ng-keyup="get_emp()" list="emp_code_datalist" autocomplete="off">
											<datalist id="emp_code_datalist" >
												<select >
													<option ng-repeat="d in all_emp_code">{{d.value}}</option>
												</select>
											</datalist>
											
										</div>
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_display">Employee Name</div><!-- add for edit button click class 'label_display' -->
											<!--<div class="star">*</div>-->
											<input class="form-control border_none" placeholder="Employee Name"  type="text" ng-model="details.employee_name" id="auto_emp_code_id">
											
											
										</div>
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_display">Reimbursement Amount</div><!-- add for edit button click class 'label_display' -->
											<!--<div class="star">*</div>-->
											<input class="form-control border_none" placeholder="Reimbursement Amount"  type="text" ng-model="details.reimbursement_amount">
											
											
										</div>
												
										</div>
										<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
										<div class="input-group date">
											<div  ng-class="{label_display : active_lable}" class="label_display">Clearing Date</div>
												<input type="text" placeholder="Date" class="form-control border_none" ng-model="details.clearing_date" id="datetimepicker3">
												<span class="input-group-addon">
												<i class="icmn-calendar"></i>
												</span>
											</div>
											
											</div>
										
										<!-- <div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_none">Issue Date</div>
					
											<input class="form-control border_none" placeholder="Loan Amount"  type="text" ng-model="loan_amount">
											
											
										</div> -->
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_display">Location</div><!-- add for edit button click class 'label_display' -->
											<select class="form-control border_none color_f" data-ng-model="details.company_id">
												<option value="" ng-selected="selected">Select Location</option>
												<option ng-repeat="data in location_details" value="{{data.id}}">{{data.company_address}},{{data.city}}</option>
											</select>	
										</div>
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div  ng-class="{label_display : active_lable}" class="label_display">Payment Mode</div><!-- add for edit button click class 'label_display' -->
											<!--<div class="star">*</div>-->
											<select class="form-control border_none color_f" ng-model="details.payment_mode" name="payment_mode" ng-required="true">
												<option value="" ng-selected="selected">-- Select Mode --</option>
												<option value="Cash">Cash</option>
												<option value="Cheque">Cheque</option>
												<option value="Online">Online</option>
												<option value="Others">Others</option>
											 </select>
											
											
										</div>
								</div>
								
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="hide_save">
									<center>
										<button class="btn btn-success-outline margin-inline" type="button" ng-click="save_reimburesment_data()">
										<span class="top_p"><i class="icmn-share2"></i></span> Save
										</button>
									</center>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="hide_update">
									<center>
										<button class="btn btn-success-outline margin-inline" type="button" ng-click="update_reimbursement_details()">
										<span class="top_p"><i class="icmn-share2"></i></span> Update
										</button>
									</center>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!--<div class="modal-footer bgcolor">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				
				</div>-->
		</div>
	</div>
</div>


	<!-- <div class="modal fade modal-size-medium" id="approve_msg" close-my-modal tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bgcolor">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Approve</h4>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-horizontal">
					<div class="tab-content ">
						<div class="tab-pane active" id="home1" role="tabpanel">
							<div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
									<center><span  style="font-size: 18px;color: 333;"> Are You Sure To Approved This Loan Request </span></center><br/>
								
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<center>
										<button class="btn btn-success-outline margin-inline" type="button" ng-click="approve_loan_details()">
										Yes
										</button>
										<button class="btn btn-success-outline margin-inline" type="button" ng-click="on_click_no()">
										No
										</button>
									</center>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			
		</div>
	</div>
</div> -->

<div class="modal fade" id="approve_msg" close-supp-return-update tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Approve</h4>
			</div>
			<div class="modal-body">
				<div><span id="add_edit_success" style="font-size: 15px;">{{check_approve_msg}}</span></div>
				<br/>
				<center>
				<button type="button" ng-show="approve_btn" ng-click="approve()" class="btn btn-primary-outline margin-inline">Yes</button></center>
			</div>
		</div>
	</div>
</div>

<!-- modal start -->
												<script type="text/javascript">
												 $(function () {
															$('#datetimepicker1').datetimepicker({
																icons: {
																	time: "fa fa-clock-o",
																	date: "fa fa-calendar",
																	up: "fa fa-arrow-up",
																	down: "fa fa-arrow-down"
																}
															});
														});
												</script>
<!-- header fixed -->
		<script>
			$(document).ready(function() {
				$("#fixedheader").tableHeadFixer(); 
			});
		</script>
		
		<!-- header fixed End-->

		<div class="modal fade" id="generate_password" close-modal-two tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLbel">{{title_text}}</h4>
			</div>
			<div class="modal-body">
				<!--<form name="form-validation" ng-submit="generateOTP ? generate_password_function() : verify_otp()">-->
				<form name="formvalidation" ng-submit="generateOTP ? generate_password_function() : verify_otp()" novalidate>
					<div class="form-group" ng-hide="gen_pass_div">
						<label class="form-label ">Comments</label>
						<input class="form-control border_none"
							   placeholder="Comment"
							   type="text"
							   ng-model="comment.comment" name="comments"  ng-required="true" capitalize>
							   
					</div>
					<div class="form-group" ng-show="otp_div">
						<label class="form-label ">Enter OTP</label>
						<input class="form-control border_none"
							   placeholder="OTP"
							   type="text"
							   ng-model="otp_object.otp">
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-md-6"><h5>{{pending_msg}}</h5></div>
							<div class="col-md-6">
								<!--<button type="button" class="btn" data-dismiss="modal">Close</button>-->
								<button type="submit" ng-hide="gen_pass_btn"  class="btn btn-primary" ng-disabled="formvalidation.$invalid">Generate</button>
								<button type="submit" ng-show="verify_otp_btn"  class="btn btn-primary">Verify OTP</button>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
$('input').on('blur', function(){
   $(this).prev('div').removeClass('label_none').addClass('label_display');
}).on('focus', function(){
  $(this).prev('div').removeClass('label_none').addClass('label_display');
});

</script>

<script type="text/javascript">
$('select').on('blur', function(){
   $(this).prev('div').removeClass('label_none').addClass('label_display');
}).on('focus', function(){
  $(this).prev('div').removeClass('label_none').addClass('label_display');
});
$('#datetimepicker3').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '2000:2040',
        // defaultDate: '2015-01-01',
        dateFormat:'dd/mm/yy'
    });
</script>
<style>
     #datetimepicker3{
        z-index:99999;
    }
</style>
<script>

    $(document).ready(function()
    {
        if (screen.width < 767)
        {
			
            $('.table_dis').attr('class','table-responsive table_dis');

        }
        else
        {
            $('.table_dis').removeAttr('class');
         
        }
    });
</script>