 
<section class="page-content">
	<div class="page-content-inner">
		<!-- Dashboard -->
		<div class="dashboard-container col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
			<div class="row">
				<div class="col-xl-12">
					<div class="panel panel-with-borders m-b-0">
						<div class="panel-body">
							<div class="nav-tabs-horizontal margin-bottom-5">
								<div align="right">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-x"><img class="headsectionimages" src="assets/headerimages/masters.png"> Salary Details
									<span id="salarySuccess" style="font-size: 15px;color: green">{{salary_success}}</span>
                                    <span id="salaryError" style="font-size: 15px;color: green">{{salary_error}}</span>
									</div>
									<br/>
									<!--<div class="right hidden-md-down margin-left-40 col-lg-3 col-md-3 col-sm-3 col-xs-12" align="right">
										<div class="search-block">
											<div class="form-input-icon form-input-icon-right">
												<i class="icmn-search"></i>
												<input class="form-control form-control-sm form-control-rounded" placeholder="Search..." type="text">
												<button class="search-block-submit " type="submit"></button>
											</div>
										</div>
									</div>-->
									<!--<button class="btn btn-rounded btn-primary-outline margin-inline " data-toggle="modal" data-target="#example2" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>-->
								</div>
							</div>
							<br/>
							<div class="top_t col-lg-4 col-md-12 col-sm-4 col-xs-12">
							<h4>
							<b>By Salary </b>
							</h4>
							<div class="top_t col-lg-10 col-md-10 col-sm-10 col-xs-12">
											<div class="label_none">Salary Components</div><!-- add for edit button click class 'label_display' -->
											<form ng-submit="save_hrm_leave_crm_feedback()">
											<input class="form-control border_none uppercase" placeholder="Salary Components" type="text" ng-model="salary_component" capitalize>
											</form>
										</div>
										<div class="top_t col-lg-2 col-md-2 col-sm-2 col-xs-12 padd_none">
										<button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="save_hrm_salary_component()">
										<!--<span class="top_p">
										<i class="fa fa-paper-plane" aria-hidden="true"></i>
										</span>-->
										Save
										</button>
									</div>	
							<div class="sb-container container-example1 hei1">
						<div class="table_dis" id="fixedheader">
                        <table class="table table-hover table-bordered">
                            <thead>
                               <tr class="colorhead">
                                <th class="width_ad">Sr No.</th>
                                <th>Salary Components</th>
                                
                               
                                <th>Action</th>
                                </tr>
                            </thead>
                            <!--<tfoot>
                                <tr>
                                  <th>Supplier Code</th>
                                <th>Supplier Name</th>
                                
                                <th>City</th>
                                <th>Country</th>
                                <th>Action</th>
                                </tr>
                            </tfoot>-->
                            <tbody>
                                 <tr ng-repeat = "hrm_salary_component_list in hrm_salary_component_lists">
                                <td>{{$index+1}}</td>
                                <td>{{hrm_salary_component_list.salary}}</td>
                               
                                
                                <td>
								
									<a href="" ng-click="delete_hrm_salary_master(hrm_salary_component_lists,$index,'salary')"> <i class="fa fa-trash-o font_six" aria-hidden="true" title="Delete"></i></a> 
								</td>
                                
                            </tr>
                           
                           
							
                            </tbody>
                        </table>
                    </div> </div>
                    </div>
					<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-12">
							<h4>
							<b>Salary Configuration</b>
							</h4>
					
                    	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none" ng-repeat="comp in  add_salary_component.components">
							<button class="btn btn-rounded btn-primary-outline margin-inline flt_d pull-right" type="button" ng-click="remove_component($index)" ng-if="$index>0">
									<i class="fa fa-minus" aria-hidden="true"></i></button>
								<div class="top_t col-lg-2 col-md-2 col-sm-2 col-xs-12">
							
											<div class="label_none">Salary Components</div><!-- add for edit button click class 'label_display' -->
											
							<select class="form-control border_none select" ng-model="add_salary_component.components[$index].salary_type_id">
									   <option value="" ng-selected="selected">-- Select --</option>
									   <option ng-selected="{{comp.salary_type_id == Salary_list.id}}" ng-repeat="Salary_list in hrm_salary_component_lists" value="{{Salary_list.id}}">{{Salary_list.salary}}</option>
									  
								</select>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 top_fedback">
						=
					</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
											<div class="label_display">Rate</div><!-- add for edit button click class 'label_display' -->
											<input class="form-control border_none" placeholder="Rate" type="text" ng-model="add_salary_component.components[$index].salary_rate" onkeypress="return isNumber(event)">
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 top_fedback for_en">
						*
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
											<div class="label_none">Gross Salary</div>
										<select class="form-control border_none select" ng-model="add_salary_component.components[$index].gross_id" >
									   <option value="" ng-selected="selected">-- Select --</option>
									   <option ng-repeat="Salary_list in hrm_salary_component_lists" value="{{Salary_list.id}}" ng-selected="{{comp.gross_id == Salary_list.id}}">{{Salary_list.salary}}</option>
								</select>
										</div>

										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
											<div class="label_none">Type</div><!-- add for edit button click class 'label_display' -->
												<select class="form-control border_none select" ng-model="add_salary_component.components[$index].type" >
									   <option value="">-- Select Type--</option>
									   <option value="Earning" ng-selected="add_salary_component.components[$index].type == 'Earning'">Earning</option>
									   <option value="Deduction" ng-selected="add_salary_component.components[$index].type == 'Deduction'">Deduction</option>
								</select>
										</div>
										
                    </div>
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none" align="right">
					<!-- <button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="save_salary_configuration()">										
										<i class="fa fa-save" aria-hidden="true"></i>
 Save
										</button> -->
					<button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="add_more_component()">
										<!--<span class="top_p">
										<i class="fa fa-paper-plane" aria-hidden="true"></i>
										</span>-->
										<i class="fa fa-plus" aria-hidden="true"></i>
 Add
										</button>
					</div>
               </div>




              					<div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<h4>
							<b>Allowances</b>
							</h4>						
                    	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none" ng-repeat="component in  add_salary_component.allowances">
							<button class="btn btn-rounded btn-primary-outline margin-inline flt_d pull-right" type="button" ng-click="remove_allowance_component($index)" ng-if="$index>0">
									<i class="fa fa-minus" aria-hidden="true"></i></button>
								<div class="top_t col-lg-5 col-md-5 col-sm-5 col-xs-12">
							
											<div class="label_none">Allowance</div>
											
							<input class="form-control border_none BASIC" placeholder="Allowance" type="text" ng-model="add_salary_component.allowances[$index].allowance">
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 top_fedback">
					
					</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
											<div class="label_display">Allowance Amount</div>
											<input class="form-control border_none " placeholder="Allowance Amount" type="text" ng-model="add_salary_component.allowances[$index].allowance_amount" onkeypress="return isNumber(event)">
										</div>
									
										
                    </div>
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none" align="right">
					<!-- <button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="save_salary_configuration()">
										
										<i class="fa fa-save" aria-hidden="true"></i>
 Save
										</button> -->
					<button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="add_more_allowance_component()">
										
										<i class="fa fa-plus" aria-hidden="true"></i>
 Add
										</button>
					</div>
               </div>

               <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
               <center>
                 <button class="btn btn-rounded btn-primary-outline margin-inline " type="button" ng-click="save_salary_configuration()">
										
										<i class="fa fa-save" aria-hidden="true"></i>
 Save
										</button>
               </center>
               </div>





			  
                    </div>
					
					
					<div class="clearfix"></div>
                </div>
            </div>
        </div>

		 
    </div>
<br/>


    <!-- End Dashboard -->

</div>
</section>	


<!-- modal start -->

  <div class="modal fade modal-size-large" id="example2" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bgcolor">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Add Received Inquiry</h4>
                            </div>
                            <div class="modal-body">
                                <div class="nav-tabs-horizontal">
                          
                            <div class="tab-content padding-vertical-20">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                   <div	class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">Customer Code</div><!-- add for edit button click class 'label_display' -->
										<select class="form-control border_none color_f">
												<option value="0">Customer code</option>
													<option value="1">0</option>
										</select>
										
										</div>
											
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">Customer Name</div><!-- add for edit button click class 'label_display' -->
											<input class="form-control border_none" placeholder="Customer Name" type="text">
										</div>
										
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">Product Name</div><!-- add for edit button click class 'label_display' -->
											<input class="form-control border_none" placeholder="Product Name" type="text">
										</div>
										
										
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
										<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">Date</div><!-- add for edit button click class 'label_display' -->
										<div class='input-group date' id='datetimepicker1'>
																<input type='text' class="form-control border_none" placeholder="Date"/>
																<span class="input-group-addon">
																	<i class="icmn-calendar"></i>
																</span>
															</div>
										</div>
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">Quantity</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" placeholder="Quantity" type="text">
										</div>
										
											<div class="top_t col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
											<div class="label_none">U.O.M</div><!-- add for edit button click class 'label_display' -->
											<select class="form-control border_none color_f">
												<option value="0">Unit Of Measurement</option>
													<option value="1">0</option>
										</select>
										</div>
										
										
									</div>
								<div class="form-group row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<b>Note</b><br/>
										<textarea class="form-control" rows="2" id="l15" placeholder="Note"></textarea>
									</div>
								</div>
								
								<div class="form-group row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<b>Admin Narration</b><br/>
										<textarea class="form-control" rows="2" id="l16" placeholder="Admin Narration"></textarea>
									</div>
									<div class="top_t col-lg-6 col-md-6 col-sm-6 col-xs-12 padd_none">
									<br/>
											<div class="label_none">Rate</div><!-- add for edit button click class 'label_display' -->
												<input class="form-control border_none" placeholder="Rate" type="text">
										</div>
								</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<center>
										
										<button class="btn btn-success-outline margin-inline" type="button">
										<span class="top_p"><i class="icmn-share2"></i></span> Save
										</button>
										
											</center>
									</div>	
								
                                </div>
                                </div>
                               
                               
                                
                            </div>
                        </div>
                            </div>
						<div class="clearfix"></div>
                         <!--   <div class="modal-footer bgcolor">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                                
                            </div>-->
                        </div>
                    </div>
                </div>
				
				

				
				
 <script>
$(".uppercase").bind('keyup', function (e) {
   $(this).val(($(this).val()).toUpperCase());
});
</script>

			
				<script>


function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}		  
</script>

<!-- modal start -->
											<script type="text/javascript">
												 $(function () {
															$('#datetimepicker1').datetimepicker({
																icons: {
																	time: "fa fa-clock-o",
																	date: "fa fa-calendar",
																	up: "fa fa-arrow-up",
																	down: "fa fa-arrow-down"
																}
															});
														});
												</script>


<!-- header fixed -->
		<script>
			$(document).ready(function() {
				$("#fixedheader").tableHeadFixer(); 
			});
		</script>
		
		<!-- header fixed End-->
											
											

