<style>
   .table thead th {
   vertical-align: top;
   }
</style>
<section class="page-content">
   <div class="page-content-inner">
   <!-- Dashboard -->
   <div class="dashboard-container col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
      <div class="row">
         <div class="col-xl-12">
            <div class="panel panel-with-borders m-b-0">
               <div class="panel-body">
			   	<div class="nav-tabs-horizontal margin-bottom-5">
								<div align="right">
									<div class="col-lg-3 col-md-12 col-sm-3 col-xs-12 font_nw text_d1 right_a1">Ledger ({{name_of_ledger}}):  Date Wise</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text_d1 t_center">
										<span class="font_nw">Wheels On Road Pvt. Ltd.</span><br/>
											<span class="font_1"><b>CIN : U74999MP2018PTC044976</b>&nbsp; </span><br/>
									<span class="font_1"><b>Period </b>{{from_date}} To {{to_date}}</span>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 text_d1">
										<b>Financial Year :</b> {{finance_year}}-{{finance_year+1}}
									</div>
								</div>
							</div>
			   
                 
                  <div class="nav-tabs-horizontal margin-bottom-5">
                  </div>
                  <div class="clearfix"></div>
                  <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
                     <!--<h4>
                        <b>Liabilities</b>
                        </h4>-->
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sb-container container-example1 hei1">
                           <div class="table_dis" id="fixedheader">
                              <table class="table table-hover table-bordered">
                                 <thead>
                                    <tr class="colorhead">
                                       <th>Date</th>
                                       <th>Narration</th> 
                                       <th>Voucher Type</th>
                                       <th>Voucher No.</th>
                                       <th class="width_7 right_a">Debit</th>
                                       <th class="width_7 right_a">Credit</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="date_wise_list in date_wise_lists.data">
                                       <td>{{date_wise_list.date}}</td>
                                       <td>{{date_wise_list.narration}}</td>
                                       <td>{{date_wise_list.voucher_type}}</td>
                                       <td>{{date_wise_list.voucher_no}}</td>
                                       <td class="right_a">{{date_wise_list.debit_amount |number:2}}</td>
                                       <td class="right_a">{{date_wise_list.credit_amount |number:2}}</td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;" colspan="4"><strong>Opening Balance</strong></td>
                                       <td class="right_a">{{date_wise_lists.opening_debit_balance |number:2}}</td>
                                       <td class="right_a">{{date_wise_lists.opening_credit_balance |number:2}}</td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;" colspan="4"><strong>Current Total</strong></td>
                                       <!-- <td>{{calculate_debit_amount()}}</td>
                                       <td>{{calculate_credit_amount()}}</td> -->
                                       <td class="right_a">{{debit_total_datewise | number:2}}</td>
                                       <td class="right_a">{{credit_total_datewise |number:2}}</td>
                                    </tr>
                                    <tr>
                                       <td style="text-align:right;" colspan="4"><strong>Closing Balance</strong></td>
                                       <td class="right_a">{{closing | number: 2}} </td>
                                       <td></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_none">
					 
                        <center>
						<button  class="btn btn-rounded btn-primary-outline margin-inline " type="button"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
 Export To Excel</button>
                           <button class="btn btn-rounded btn-primary-outline margin-inline  " type="button"><i class="fa fa-file-pdf-o " aria-hidden="true" style="color:#01a8fe;"></i> Export To PDF</button>
                        </center>
                     </div>
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
      <br/>
      <!-- End Dashboard -->
   </div>
</section>
<script type="text/javascript">
   $(function () {
   		$('#datetimepicker1').datetimepicker({
   			icons: {
   				time: "fa fa-clock-o",
   				date: "fa fa-calendar",
   				up: "fa fa-arrow-up",
   				down: "fa fa-arrow-down"
   			}
   		});
   	});
</script>
<!-- header fixed -->
<script>
   $(document).ready(function() {
   	$("#fixedheader").tableHeadFixer(); 
   });
</script>

<script>
$("#tblExport").click(function(){

    $("#table2excel").table2excel({
      // exclude CSS class
      //exclude: ".noExl",
      name: "Worksheet Name",
      //fileext: ".xlsx",
      filename: "Datewise_details" //do not include extension
    }); 
  });
  </script>
  <script>
              $(document).ready(function() {
                  $("#table2excel").tableHeadFixer(); 
              });
          </script>
<!-- header fixed End-->